#ImgSlider {
    position: relative;
    height: 500px;
    width: 850px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: white;
}

#ImgSlider img {
    height: 100%;
}

#ImgSlider-buttons {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
}

#ImgSlider-buttons button {
    width: 100px;
    height: 100%;
    border: none;
}

#ImgSlider-buttons button:hover {
    color: red;
}

#prev-button {
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}

#next-button {
    background: linear-gradient(270deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);

}