footer {
  position: relative;
  background-color: var(--color2);
  margin-top: 20rem;
  height: 50vh;
  color: white;
  width: 100%;
  clip-path: ellipse(200% 100% at 50% 100%);
}

#footer-icons {
  position: absolute;
  left: 50%;
  top: 10vh;
  transform: translateX(-50%);
}

#footer-icons svg { 
  font-size: 3rem;
  fill: var(--color7);
}

footer p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12rem;
  color: var(--color3);
}

.scroll-up {
  position: absolute;
  border-radius: 50%;
  left: 50%;
  bottom: 5rem;
  width: 5rem;
  height: 5rem;
  transform: translateX(-50%);
  background-color: var(--color5);
}

.scroll-up svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: var(--color7);
  
}

.scroll-up:hover {
  filter: drop-shadow(0 0 8px var(--color1));
}

.scroll-up:hover svg {
  fill: var(--color1);
  filter: drop-shadow(0 0 8px var(--color1));
}
