#projects {
  padding: 0 0 4rem 0;
  color: var(--color7);
  position: relative;
  background-color: var(--color2);
  text-align: center;
}

#projects::after {
  display: block;
  content: '';
  position: absolute;
  bottom: -100px;
  height: 100px;
  width: 100%;
  background-color: var(--color2);
  clip-path: ellipse(60% 100% at 50% 0%);
}

#projects h1 {
  font-size: var(--title-font-size);
  margin-top: 0;
}

#projects h2 {
  margin-top: 8rem;
  font-size: 3rem;
  color: var(--color7);
}

#projects h1::after {
  display: block;
  content: '';
  position: absolute;
  height: 10px;
  margin-top: 1rem;
  background-color: var(--color5);
}

#projects p {
  font-size: var(--text-font-size);
}

#experiments {
  color: var(--color7);
}

.main-col {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;

}

.work-box {
  position: relative;
  display: flex;
  overflow: hidden;
  background-color:rgba(0, 0, 0, 1);
  border-radius: 20px;
  object-fit: cover;
}

.work-box a {
  width: 100%;
  height: 100%;
}

.work-box img {
  width: 100%;
  border-radius: 20px;
  opacity: 1;
  transition: opacity ease-out 0.5s;
  object-fit: cover;
  object-position: top;
}

.work-box:hover img {
  opacity: 0.4;
}

.work-img-text {
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease-out .5s;
  z-index: 2;
}

.work-box:hover .work-img-text {
  opacity: 1;
}

.work-img-text {
  position: absolute;
}

.work-desc {
  position: fixed;
  display: none;
  background-color: cornflowerblue;
  width: 90vw;
  height: 70vh;
  top: 10%;
  transform: scale(0, 0);
  transition: transform ease-out .5s;
}

.work-box::before, .work-box::after {
  content: "";
  position: absolute;
  top: 1.25rem;
  bottom: 1.25rem;
  left: 1.25rem;
  right: 1.25rem;
  z-index: 1;
}

.work-box::before {
  transform: scale(0, 1);
  transition: transform ease-out .5s;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.work-box::after {
  transform: scale(1, 0);
  transition: transform ease-out .5s;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.work-box:hover::before {
  transform: scale(1.05, 1);
}

.work-box:hover::after {
  transform: scale(1, 1.05);
}

.learn-more-btn {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 1);
  padding: .6rem;
  font-size: 1rem;
  transition: background-color ease-out 0.5s;
}

.learn-more-btn:hover {
  background-color: rgba(255, 255, 255, 1);
  color:rgba(0, 0, 0, 1);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .work-box {
    width: 90vw;
    height: calc(90vw * .66);
    margin: 5rem 5vw;
  }

  #projects h1::after {
    left: 5vw; 
    right: 5vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .work-box {
    width: 90vw;
    height: calc(90vw * .66);
    margin: 5rem 5vw;
  }

  #projects h1::after {
    left: 5vw; 
    right: 5vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main-col {
    flex-wrap: wrap;
  }

  #projects h1::after {
    left: 5vw; 
    right: 5vw;
  }

  .work-box {
    width: 40vw;
    height: calc(40vw * .66);
    margin: 5rem 5vw;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main-col {
    flex-wrap: wrap;
  }

  #projects h1::after {
    left: 5vw; 
    right: 5vw;
  }

  .work-box {
    width: 40vw;
    height: calc(40vw * .66);
    margin: 5rem 2vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main-col {
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1400px;
  }

  #projects h1::after {
    height: 10px;
    width: 1200px;
    right: 5vw;
    left: 5vw;
    margin-top: 1rem;
    margin-left: 45vw;
    transform: translateX(-50%);
  }
  

  .work-box {
    width: 30rem;
    height: calc(30rem * .66);
    margin: 5rem 2vw;
  }
}